{
	email {$ACME_EMAIL}
}

{$NEUTHEK_DOMAIN} {
	encode zstd gzip

	handle_path /minio/* {
		reverse_proxy {$NEUTHEK_MINIO_UPSTREAM}
	}

	handle /api/* {
		uri strip_prefix /api
		reverse_proxy {$NEUTHEK_API_UPSTREAM}
	}

	handle /auth/* {
		reverse_proxy {$NEUTHEK_API_UPSTREAM}
	}

	handle /images/* {
		reverse_proxy {$NEUTHEK_API_UPSTREAM}
	}

	handle /account/* {
		reverse_proxy {$NEUTHEK_API_UPSTREAM}
	}

	handle /admin/* {
		reverse_proxy {$NEUTHEK_API_UPSTREAM}
	}

	handle /consent/* {
		reverse_proxy {$NEUTHEK_API_UPSTREAM}
	}

	handle /cloud/* {
		reverse_proxy {$NEUTHEK_API_UPSTREAM}
	}

	handle {
		reverse_proxy {$NEUTHEK_FRONTEND_UPSTREAM}
	}
}
